body {
	background-color: black;
	float: center; 
	display: inline-block;
	width: auto;
	height: 100px; 
	padding: 10px;
	margin: 20px;
}

h1{
	color: black; 
	background-color: orange; 
	float: center; 
	display: inline-block;
	width: 1800px;/*use % over px to define this value and padding and margin */
	height: auto; 
	padding: 10px;
	margin: 20px;
} 



#bird{
	color: black;
	background-color: orange;
	text-align: center;
	height: auto;
	width: 500px;
	float: center; 
	display: flex;
	padding: 10px;
	margin: 20px;
	justify-content: center;
	position: relative;
	left: 950px
	
}

#lizard{
	color: black;
	background-color: orange;
	text-align: center;
	height: auto;
	width: 500px;
	float: center; 
	display: flex;
	padding: 10px;
	margin: 20px;
	justify-content: center;
	position: relative;
	bottom: 294px; 
	left: 400px;
}

#bee{
	color: black;
	background-color: orange;
	text-align: center;
	height: auto;
	width: 500px;
	float: center; 
	display: flex;
	padding: 10px;
	margin: 20px;
	justify-content: center;
	position: relative;
	bottom: 290px; 
	left: 400px;
}


img.imgSize{
	  width: auto;
	  height: 200px;
	  margin: 10px; 
	  float: center;
	 
  }
 
 nav ul li {
	text-align: right; 
	float: right; 
	bottom: 130px;
	position: relative; 
	right: 50px;
	padding: 40px;
 }
 
 nav ul li a{
	 color: black;
	 text-decoration: none;
 }





.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 18%;
	width: 98%;
	background-color: orange;
	color: black;
	text-align: center;
	float: center; 
	display: inline-block;
	padding: 1%;
	margin: auto;
	justify-content: center;
}

img.logoSize {
	width: auto;
	height: 80px;
	margin: 10px; 
	float: center;
	padding: 30px;
}